<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="picoplacaEntities" connectionString="metadata=res://*/PICOPLACAModel.csdl|res://*/PICOPLACAModel.ssdl|res://*/PICOPLACAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JHOVANNA-PC;initial catalog=picoplaca;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>-->
    <services>
      <service name="PicoPlaca.DistributedServices.Services.PicoPlaca.ModPicoPlacaServices">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="higherMessageSize_WS" contract="PicoPlaca.DistributedServices.Contracts.IPicoPlacaServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2525/PicoPlaca.DistributedServices.Services/ModPicoPlacaServices/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="higherMessageSize_WS" closeTimeout="20:30:00" openTimeout="20:30:00" receiveTimeout="20:30:00" sendTimeout="20:15:00" maxBufferPoolSize="524288000" maxReceivedMessageSize="65536000">
          <readerQuotas maxStringContentLength="52428800" />
        </binding>
      </basicHttpBinding>
      <mexHttpBinding>
        <binding name="higherMessageSize_MEX" />
      </mexHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MyServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>